body {
  background-color: #35bae8;

}

.banner{
  background-color: white;
  background-size: cover;
  color: #066e8a;
  font-family: 'Baloo',cursive;
  padding: 20px;


}

#tagline{
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
}

.text-content{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  color: white;
    }

  #intro{
    padding: 20px;
  }

  .header{
    font-family: 'Baloo',cursive;
    color: white;
    padding-top: 30px;
  }

 #startbtn button{
   margin-top: 50px;
   color: white;
   font-family: 'Baloo', cursive;
   background: #066e8a;
   height: 75px;
   width: 300px
 }
