body {
  background-color: #35bae8;

}

.banner{
  background-color: white;
  background-size: cover;
  color: #066e8a;
  font-family: 'Baloo',cursive;
  padding: 20px;


}

#tagline{
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
}

.text-content{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  color: white;

    }

  #intro{
    padding: 20px;
  }

  .header{
    font-family: 'Baloo',cursive;
    color: white;
    padding-top: 30px;
  }
  #socialbuttons{
      padding: 60px;
  }
  .fa{
    padding: 15px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
  }
  .fa-facebook {
  background: #3B5998;
  color: white;
  }
  .fa-twitter{
    background: #55ACEE;
    color: white;
  }
    .fa-instagram{
      background: #125688;
      color: white;
  }
